html{
	font-size : 62.5%;
}
*{
	font-family : 'Arial';
	font-size : 1.6rem;
}
h1{
	text-align : center;
	font-size : 8vw;
}
#header, #footer{
	font-size : 10px;
}
#par1{
	background-color : #2980b9;
}
#par2{
	background-color : #ecf0f1;
}
#par3{
	background-color : #e74c3c;
}
#formulaire{
	background : url("../img/logo-iut.jpg") no-repeat center;
	background-size : 300px;
}
@media screen and (max-width: 500px){
	img{
		width : 300px;
	}
}
table, th, td {
   border: 1px solid black;
}