*{
	font-family : 'Arial';
}
h1{
	text-align : center;
}
#header{
	font-size : 10px;
}
#footer{
	font-size : 10px;
}
#par1{
	background-color : #2980b9;
}
#par2{
	background-color : #ecf0f1;
}
#par3{
	background-color : #e74c3c;
}
@media max-width: 500px{
	img{
		width : 300px;
	}
}